<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rover</title>
    <link href="{{ url_for('static', filename='style/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='style/style.css') }}" rel="stylesheet">
</head>
<body>
<div class="card form-actions" style="width: 18rem;">
<span>Здесь можно вводить значания для передачи команд</span>

<form class="form-group" method="post" enctype=multipart/form-data id="meetup-reg-form">
    {% if form %} {{ form.hidden_tag() }} {% endif %}

    <div class="form-group">
        <input class="form-control" id="form-left" name="left" type="text">
        <label for="form-left">left</label>
    </div>
    <div class="form-group">
        <input class="form-control" id="form-right" name="right" type="text">
        <label for="form-right">right</label>
    </div>
    <div class="form-group">
        <input class="form-control" id="form-up" name="up" type="text">
        <label for="form-up">up</label>
    </div>
    <div class="form-group">
        <input class="form-control" id="form-down" name="down" type="text">
        <label for="form-down">down</label>
    </div>
    <button class="btn btn-outline-primary" type="submit">send</button>

</form>
</div>

<div class="card ajax-actions" style="width: 18rem;">
<span>Здесь отправляются команды left/right/up/down</span>
<div id="controls">
    <button class="btn btn-outline-primary" id="left">left</button>
    <button class="btn btn-outline-primary" id="right">right</button>
    <button class="btn btn-outline-primary" id="up">up</button>
    <button class="btn btn-outline-primary" id="down">down</button>
</div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>

<script>
    let elem = document.querySelector('#controls');
    elem.addEventListener('click', (event) => {
        console.log(event.target);
        let data = '';
        if (event.target.getAttribute('id') === 'left') {
            data = 'left'
        } else if (event.target.getAttribute('id') === 'right') {
            data = 'right'
        } else if (event.target.getAttribute('id') === 'up') {
            data = 'up'
        } else if (event.target.getAttribute('id') === 'down') {
            data = 'down'
        }
        let json_ready = JSON.stringify(data);
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "/action",
            data: json_ready,
            success: (data) => {
                console.log('=>', data);
            },
            dataType: "json"
        });
    })


</script>
</body>
</html>